.App {
  text-align: center;
  font-size: calc(10px + 2vmin);
}



.App-link {
  color: #61dafb;
}

.input{
  width:90%;
}
.col-sm-10{
  align-self: center;
  text-align: left;
}

.col-sm-8{
  align-self: center;
  text-align: left;
}

h3{
  width:100%;
}
.row{
  padding: 2%;
}


th{
  cursor: pointer;
}
td{
  cursor: pointer;
}


.my-custom-scrollbar {
  position: relative;
  height: 200px;
  overflow: auto;
  }

tr.selected{
  background-color: #cacaca;
}


tr:hover{
  background-color: #cacaca;
}
.base:hover{
  background-color: #27b2e7;
}
  
thead{
  background-color: #27b2e7;
}  

.table-wrapper-scroll-y {
display: block;
border: 1px solid black;
margin: 20px;
border-radius:20px;
}
table{
  table-layout: fixed;
  word-wrap: break-word;
}

button#button{
  color:white;
  background-color: #27b2e7;
  border-color: #27b2e7;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
